body {
	margin: 5px;
	background-color: #A5A5A5;
	background-attachment: scroll;
	background-image: url(../styleImages/backgrounds/pageBg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#pageSurround {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	margin-bottom: 5px;
}
#divThumbsImg {
	overflow:auto; 
	height: 400px; 
	width: 120px; 
	text-align: center; 
	float: left; 
	margin-right: 5px;
	border-right: 1px solid #999999;
}
.thumbsImg {
	border: 1px solid #999999;
	background-color: #CCCCCC;
}
#divMainImg {
	float: left; 
	width: 400px; 
	height: 400px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 5px;
}
a.popupLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;	
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
a.popupLink:hover {
	color: #070F72;
	font-weight: bold;
}
.txtCopyright, a.txtCopyright {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1px;
	padding-top: 5px;
	color: #999999;
}
a.txtCopyright:hover {
	text-decoration: none;
}