body {
	margin: 5px;
	background-color: #A5A5A5;
	background-attachment: scroll;
	background-image: url(../styleImages/backgrounds/pageBg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#pageSurround {
	width: 748px;
	margin: 0px auto;
	padding: 5px;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	/* SKIN VARIABLE IS cAsE SeNsItIvE */
	background-image: url(../../../images/getLogo.php?skin=Classic);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
}
#topHeader {
	text-align: right;
	height: 36px;
	margin-bottom: 25px;
	padding-right: 0px;
	padding-top: 30px;	
}
.boxTitleLeft, .boxTitleRight {
	color: #FFFFFF;
	background-color: #031074;
	background-image: url(../styleImages/backgrounds/boxTitleBg.gif);
	height: 15px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	padding-left: 5px;
}
.boxContentLeft, .boxContentRight {
	border: 1px solid #000000;
	background-color: #EBEDFE;
	padding-left: 5px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
}
.colLeft {
	position: relative;
	z-index:5;
	left: 0px;
	width: 160px; 
	padding-left: 15px;
	padding-right: 5px;
	float: left;
}
.colMid {
	position: relative;
	width: 403px;
	float: left;
}
.colRight {
	position: relative;
	width: 160px; 
	padding-left: 5px;
	right: 0px;
	float: right;
}
.boxContent {
	border: 1px solid #000000;
	padding: 3px;
	color: #333333;
	margin-bottom: 5px;
	margin-top: 0px;
	position: inherit
}
/* CHECKOUT PAGES */
.colLeftCheckout {
	position: relative;
	left: 0px;
	width: 160px; 
	padding-left: 15px;
	padding-right: 5px;
	float: left;
}
.colMainCheckout {
	position: relative;
	width: 568px;
	float: left;
}
/* END CHECK OUT PAGES */
.siteDocs {
	text-align:center;
	margin-top: 10px;
}
.pagination {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}
#subCats {
	text-align:justify;
	background-color: #EBEDFE;
	text-align: center;
	border: 1px solid #C9CEFC;
	margin: 0px;
	padding: 3px;
	float: left;
	width: 387px;
}
.subCat {	
	text-align: center;
	padding: 8px;
	float: left;
	width: 110px;
}
.regSep{
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
#imgThumbSpace{
	line-height: 0px;		
}
#imgThumbSpace img {
	padding-right: 3px;
	padding-bottom: 3px;		
}

div.latestProds {
	text-align: center;
	width: 131px;
	height: 100px;
	float: left;
	overflow: hidden;
}

/*
Start Cross-Browser DHTML Menu
*/

#mainmenu-nav {
	list-style: none;
	list-style-type: none;
	width: 158px;
	padding: 0px;
	margin: 0px;
}

.li-nav a {
	padding: 2px 1px;
	background-color: #EBEDFE;
	width: 148px;
	display: block;
	text-indent: 2px;
	color: #070F72;
	text-decoration: none;
	margin: 0px;
}
.li-nav a:hover {
	background-color: #FFFFFF;
	color: #FF6600;
}

.ul-nav, .li-nav {
	display: block;
	list-style: none;
}

.ul-nav {
	width: 150px;
	padding: 0px;
}

.li-nav {	
	float: left;
}

.li-nav .ul-nav  {
	display: none;
	position: absolute;
	margin-left: 100px;
	margin-top: -19px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-top: 4px solid #0858B6;
	z-index: 99;
}

a.hassubmenu {
	background-image: url(../styleImages/more.gif);
	background-repeat: no-repeat;
	background-position: 143px 6px;
}
/*
End Cross-Browser DHTML Menu
*/